/* imio.project.pst stylesheet */

/* hide sort criterion in top section on types */
.template-view.portaltype-projectspace #top---default---widgets,
.template-view.portaltype-strategicobjective #top---default---widgets,
.template-view.portaltype-operationalobjective #top---default---widgets,
.template-view.portaltype-pstaction #top---default---widgets {
    display: none;
}

/* hide create contact link */
a.addnewcontactfromorganization.link-overlay {
    display: none;
}

/* Hides */
#formfield-form-widgets-IVersionable-changeNote, #download_vcard,
.template-edit .documentEditable div#formfield-form-widgets-reference_number,
.template-strategicobjective div#formfield-form-widgets-reference_number,
.template-operationalobjective div#formfield-form-widgets-reference_number,
.template-pstaction div#formfield-form-widgets-reference_number
{
    display: none;
}

#contentActionMenus #faceted_settings, #contentActionMenus #plone-contentmenu-display,
#contentActionMenus #plone-contentmenu-actions a[id^="plone-contentmenu-actions-faceted."] {
    display: None !important;
}

/* Hide original title */
body.template-view.portaltype-strategicobjective h1.documentFirstHeading:not(.keep-it),
body.template-view.portaltype-operationalobjective h1.documentFirstHeading:not(.keep-it),
body.template-view.portaltype-pstaction h1.documentFirstHeading:not(.keep-it),
body.template-view.portaltype-pstsubaction h1.documentFirstHeading:not(.keep-it),
body.template-view.portaltype-action_link h1.documentFirstHeading:not(.keep-it),
body.template-view.portaltype-subaction_link h1.documentFirstHeading:not(.keep-it),
body.template-item_view.portaltype-task h1.documentFirstHeading:not(.keep-it) {
    display: none;
}

/* Center icons in h1 viewlet */
.icons-on h1#parent-fieldname-title .contenttype-strategicobjective {
    background-position-y: -824px;
}
.icons-on h1#parent-fieldname-title .contenttype-operationalobjective {
    background-position-y: 8px;
}
.icons-on h1#parent-fieldname-title .contenttype-pstaction,
.icons-on h1#parent-fieldname-title .contenttype-pstsubaction {
    background-position-y: -408px;
}
body.template-view h1 .pretty_link_icons img,
body.template-item_view h1 .pretty_link_icons img{
    vertical-align: baseline;
}

#content ul.parents_col {
    list-style-type: none;
    margin-left: 0;
}

/* plone group 1st level */
.pg_org_category {
    font-weight: bold;
    text-decoration: underline
}

/* couleur indicateur santé */
.health_indicator_color_bon {
    color: white;
    background-color: green !important;
}

.health_indicator_color_risque {
    color: white;
    background-color: orange !important;
}

.health_indicator_color_blocage {
    color: white;
    background-color: red !important;
}

/* largeur colonne label sur les vues, par défaut, 200px dans plonetheme.imioapps */
body.template-view.portaltype-strategicobjective td.table_widget_label {
    width: 150px;
}

.datagridwidget-table-view {
    min-width: 500px;
}

/* int and float are right aligned, make the % match and display after the number */
.widget-progress-percent {
    float: right;
}

/* align right the plonegroup-organization link */
#pg-orga-link {
    float: right;
}

/* icons on types */
.icons-on .contenttype-strategicobjective, .icons-on .contenttype-operationalobjective,
.icons-on .contenttype-pstaction, .icons-on .contenttype-pstsubaction,
.icons-on #faceted-results .contenttype-task {
    display: inline-block;
    line-height: 1.2em;
    padding-left: 20px;
}

.icons-on .contenttype-operationalobjective {
    background: url("++resource++imio.project.pst/pst_icons_sprite.png") no-repeat scroll 0 0 transparent;
}
.icons-on .contenttype-strategicobjective {
    background: url("++resource++imio.project.pst/pst_icons_sprite.png") no-repeat scroll 0 -832px transparent;
}
.icons-on .contenttype-pstaction {
    background: url("++resource++imio.project.pst/pst_icons_sprite.png") no-repeat scroll 0 -416px transparent;
}
.icons-on .contenttype-pstsubaction {
    background: url("++resource++imio.project.pst/pst_icons_sprite.png") no-repeat scroll 0 -416px transparent;
}

.icons-on #faceted-results .contenttype-task {
    background: url("++resource++collective.task/task_icon.png") no-repeat scroll 0 0 transparent;
}

/* colorization for action workflow */

.state-created {
    color: Red !important;
}

#plone-contentmenu-workflow .state-created {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: red;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid red;
}

.state-to_be_scheduled {
    color: blue !important;
}

#plone-contentmenu-workflow .state-to_be_scheduled {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: blue;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid blue;
}

.state-ongoing {
    color: green !important;
}

#plone-contentmenu-workflow .state-ongoing {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: green;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid green;
}

.state-stopped {
    color: DarkOrange !important;
}

#plone-contentmenu-workflow .state-stopped {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: DarkOrange;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid DarkOrange;
}

.state-terminated {
    color: dimgrey !important;
}

#plone-contentmenu-workflow .state-terminated {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: dimgrey;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid dimgrey;
}

/* colorization for objective workflow */

.state-achieved {
    color: dimgrey !important;
}

#plone-contentmenu-workflow .state-achieved {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: dimgrey;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid dimgrey;
}

/* sitemap */

#sitemap-link {
    float: right;
    clear: right;
}

.sitemap_toolbar {
    padding: 15px 0px;
}

.sitemap_jstree ul {
    list-style-type: none !important;

    background-position:6px 1px;
    background-repeat:repeat-y;
    background-image:url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==);
}
