/* imio.project.pst stylesheet */

body.portaltype-pstaction fieldset#folder-listing {
    display: none;
}

.health_indicator_color_Bon {
    color: white;
    background-color: green !important;
}

.health_indicator_color_Risque {
    color: white;
    background-color: orange !important;
}

.health_indicator_color_Bloquage {
    color: white;
    background-color: red !important;
}

/* aligne div.field et div.field_value horizontalement */
body.template-view.portaltype-operationalobjective div.field_value {
    float: left;
}

body.template-view.portaltype-operationalobjective div.field {
    float: left;
    width: 200px;
}

body.template-view.portaltype-operationalobjective #folder-listing {
    display: inline;
}

.datagridwidget-table-view {
    min-width: 500px;
}
